@import './spinner.scss';

a:hover{
  text-decoration: none;
}
#root {
  position: relative;
  z-index: 1;
  text-align: center;
  &::after {
    content:'';
    background-position: top center;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
}

.step-description {
  margin: 20px 0;
}
@media screen and (max-width: 768px) {
  .answer-name{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.56));
    padding: 10px 0;
    left: 0;
  }
}


.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.loader-message {
  font-size: 26px;
  position: fixed;
  top: 50%;
  transform:translateY(-50%);
  width: 100%;
  z-index: 2000;
}

.progress {
  background-color: transparent;
  padding: 0;
  border: 0;
  height: 3px;
  margin: 10px 0 20px;

  .meter {
    border-radius: 4px;
    height: 100%;
    display: block;
  }
}

.result-form.form-light input[type='date'].form-control{
  height: 40px;
}

.pager{
  li>a,li>a:hover, li>a:focus{
    padding-left: 2px;
    padding-right: 2px;
    background-color: transparent;
    border:none;
    font-weight: 700;
  }
  li.active>a, li>a:hover, li>a:focus{
    color:#fff;
  }
  .previous{
    margin-right: 10px;
  }
  .next{
    margin-left: 10px; 
  }
}

@media screen and (max-width: 768px) {
  .row-flex {
    display:block
  }
}

span.resource-link{
  opacity:.2;
  transition: all ease 0.2s;
  &.active, &:hover{
    opacity:1;
  }
}
