.footer{
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

body, button, input {
  font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, Geneva;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
}


.ship {
  min-height: 100%;
  text-align: center;
  &::after {
    content:'';
    background-position: top center;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
}

.step-description {
  margin: 20px 0;
}

.header .logo {
  max-height: 100px;
}

.answer {
  display: block;
  margin-top: 10px;
  padding: 11px;
  text-decoration: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: all ease 0.2s;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.loader-message {
  font-size: 26px;
  position: fixed;
  top: 50%;
  transform:translateY(-50%);
  width: 100%;
  z-index: 2000;
}

.progress {
  background-color: transparent;
  padding: 0;
  border: 0;
  height: 3px;
  margin: 10px 0 20px;

  .meter {
    border-radius: 4px;
    height: 100%;
    display: block;
  }
}

.result-form.form-light input[type='date'].form-control{
  height: 40px;
}
