@keyframes timer {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* Styles for old versions of IE */
.timer {
  opacity: .2;
  font-family: sans-serif;
  font-weight: 100;
}

/* :not(:required) hides this rule from IE9 and below */
.timer:not(:required) {
  border: 6px solid #ffffff;
  border-radius: 24px;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 48px;
  height: 48px;
}
.timer:not(:required)::before {
  animation: timer 1250ms infinite linear;
  transform-origin: 3px 3px;
  background: #ffffff;
  border-radius: 3px;
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 19.2px;
  left: 15px;
  top: 15px;
}
.timer:not(:required)::after {
  animation: timer 15000ms infinite linear;
  transform-origin: 3px 3px;
  background: #ffffff;
  border-radius: 3px;
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 16px;
  left: 15px;
  top: 15px;
}




