  body {
    color: {{state.settings.text_color}};
    color: {{state.settings.text_color | opacity:0.6}};
    background-color: {{state.settings.background_color}};
  }
  a {
    color: {{state.settings.text_color}};
    color: {{state.settings.text_color | opacity:0.6}};
  }
  .step-name,
  .answer-name,
  .loader-message,
  a:hover,
  a:active {
    color: {{state.settings.text_color}};
  }
  .ship {
    background: linear-gradient(to bottom, {{state.settings.background_color | opacity:0}} 60%, {{state.settings.background_color}} 100%);
  }
  .ship::after {
    content: "";
    background: url({{state.settings.background_image}});
    background-position: top center;
    background-size: cover;
    opacity: {{state.settings.background_image_opacity}};
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    filter: blur({{state.settings.background_image_blur}}px);
  }
  .answer {
    background-color: {{state.settings.text_color | opacity:0.05}};
    border: 1px solid {{state.settings.text_color | opacity:0.1}};
  }
  .answer:hover,
  .answer:focus {
    background-color: {{state.settings.text_color | opacity:0.1 }};
    border-color {{state.settings.text_color | opacity:0.2}};
    box-shadow: 0 0 10px {{state.settings.text_color | opacity:0.2}};
  }
  .progress .meter {
    background-color: {{state.settings.button_background_color}}
  }
  .button {
    color: {{state.settings.button_text_color}};
    background-color: {{state.settings.button_background_color}}
  }
  .button:hover,
  .button:focus {
    background-color: {{state.settings.button_background_color | opacity:0.9}}
  }
  .footer {
    border-top: 1px solid {{state.settings.text_color | opacity:0.1 }};
  }
  .loader {
    background-color: {{state.settings.background_color | opacity: 0.6}};
  }
