$bg-color:#3B5998;

[class*="entypo-"]:before {font-family: 'entypo', sans-serif;}

.share-popover{
  position: relative;
  input[type="checkbox"]{display:none;}
  .checkbox:checked ~ .share-popover-buttons {
    opacity:1;
    transform:scale(1) translateY(-15px);
  }
  .share-popover-buttons {
    transition:.3s cubic-bezier(0.5, -0.5, 0.5, 1.5);
    transform-origin:50% 0%;
    transform:scale(0) translateY(-40px);
    opacity:0;
    position:absolute;
    left:0;
    right:0;
    bottom: 100%;
    margin:auto;
    color:#fff;
    width:180px;
    background:$bg-color;
    padding:0;
    list-style:none;
    .share-popover-button {
      font-size:20px;
      cursor:pointer;
      width:60px;
      margin:0;
      padding:12px 0;
      text-align:center;
      float:left;
      display:block;
      &:hover{
        .svg-share-icon{
          transform:scale(1.1);
          fill:rgba(0,0,0,.5);
        }
      }
      &[class*="twitter"] {background:#6CDFEA;padding:12px 0;}
      &[class*="google"]  {background:#E34429;padding:12px 0;}
    }
    &:after {
      content:'';
      display:block;
      position:absolute;
      left:0;
      right:0;
      bottom:-10px;
      margin:0 auto;
      height:0;
      width:0;
      
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid $bg-color;
    }
  }
  .svg-share-icon {
    width: 1.375em;
    height: 1.375em;
    fill:#fff;
    transition:.2s ease-out;
  }
}
